<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Post</title>
</head>
<body>
<h2>Add new post</h2>
        <form method="POST">
            <input type="text" name="title" id="title" class="form-control" placeholder="Enter title of your post"><br>
            <textarea name="description" id="description" class="form-control" placeholder="Enter description of your post"></textarea><br>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
</body>
</html>
