<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<h2>Edit the Post (id:{{id}})</h2>
        <form method="POST">
            <input type="text" name="title" id="title" class="form-control" placeholder="Enter new title of post"><br>
            <textarea name="description" id="description" class="form-control" placeholder="Enter new description"></textarea><br>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
</body>
</html>
