<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<h1>All posts:</h1>

    {% for post in posts %}
    <div class="alert alert-info">
        <h2>{{ post[1] }}</h2>
        <p>{{ post[2] }}</p>
        <p><b>Date: {{ post[3] }}</b></p>
        <p>(Post ID: {{post[0]}})</p>
        <a href="/index/{{ post[0] }}" class="btn btn-warning">More</a>
        <a href="/index/{{ post[0] }}/edit" class="btn btn-success">Edit</a>
        <a href="/index/{{ post[0] }}/delete" class="btn btn-danger">Delete</a>
    </div>
    {% endfor %}

</body>
</html>
